
@font-face {
font-family: "Plex Regular";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Regular.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Regular.otf") format("opentype");
font-weight: normal;
}

@font-face {
font-family: "Plex Bold";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Bold.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Bold.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: "Plex Light";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Light.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Light.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Light.otf") format("opentype");
font-weight: lighter;
}


@font-face {
font-family: "Plex Italic";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Italic.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Italic.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Italic.otf") format("opentype");
font-weight: lighter;
}

body {
    margin: 0px;
	height:100%;
	background-image:url("../assets/backLW.jpg");
background-position: center center;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    color: white;
    font-family: Plex Regular, Arial, Helvetica, sans-serif;
}

.titulo {
	font-family: Plex Bold, Arial, Helvetica, sans-serif;
	font-size: 54px;
	color:#82d1f5;	
}

.texto-1 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#00b3ef;		
}

.texto-2 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#00b3ef;	
}

.texto-3 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#00b3ef;	
}

.texto-4 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color:#00b3ef;	
}

h1 {
    color: white;
}

.seloption > option[selected] {
  display: none;
}

select {
	background-color: lightblue;
}

.texto-3 {
	font-size: 24px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.btn {
	background-color: royalblue;
}
hr {
	height: 1px;
color: lightblue;
background-color: lightblue;
border: none;
}

input[type=text] {
    border: none;
    border-bottom: #00a6a0 dashed 1px;
    background-color: transparent;
    color: #ffffff;
}

.greey {
    color: rgb(83, 83, 83);
}




.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}




.cc-selector-2 input:active+.drinkcard-cc,
.cc-selector input:active+.drinkcard-cc {
    opacity: .9;
}

.cc-selector-2 input:checked+.drinkcard-cc,
.cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}


.submitButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0);
    background-color: #007dc1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 21px 34px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.submitButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1', GradientType=0);
    background-color: #0061a7;
}

.submitButton:active {
    position: relative;
    top: 1px;
}