
@font-face {
font-family: "Plex Regular";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Regular.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Regular.otf") format("opentype");
font-weight: normal;
}

@font-face {
font-family: "Plex Bold";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Bold.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Bold.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: "Plex Light";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Light.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Light.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Light.otf") format("opentype");
font-weight: lighter;
}

 
@font-face {
font-family: "Plex Italic";
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Italic.eot");
src: url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Italic.woff") format("woff"), url("https://github.com/IBM/plex/blob/master/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Italic.otf") format("opentype");
font-style: italic;
}

body {
    margin: 0px;
	height:100%;
	background-image:url("../assets/fondolargo.jpg");
	background-position: 0% 0%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:repeat;
    color: white;
    font-family: Plex Regular, Arial, Helvetica, sans-serif;
	padding-bottom: 100px;
}

.titulo {
	font-family: Plex Bold, Arial, Helvetica, sans-serif;
	font-size: 44px;
	color:#82d1f5;	
}

.texto-1 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#00b3ef;		
}

.imagen{
	border: 0 none;
  display: inline-block;
  height: 80px;
  max-width: 100%;
  vertical-align: middle;
	float: left;
	margin: 0px 10px 6px 0px;
}
.texto-2 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#00b3ef;	
}

.textow-2 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:white;	
}

.texto-3 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#00b3ef;	
}

.textow-3 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:white;	
}

.texto-4 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color:#00b3ef;	
}

.texto-5 {
	font-family: Plex Regular, Arial, Helvetica, sans-serif;
	font-size: 32px;
	color:#82d1f5;	
}

h1 {
    color: white;
}

.seloption > option[selected] {
  display: none;
}

select {
	background-color: lightblue;
}


[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.btn {
	background-color: #00a6a0;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.btn:hover {
    background-color: #008abf;
	text-decoration: none;
	color: white;
}


hr {
height: 1px;
color: lightblue;
background-color: lightblue;
border: none;
}

.abajo{
	position:fixed;
	bottom:0px;
	left:0px;
	text-align: center;
	border: none 0px;
	align-items: center;

}

input[type=text] {
    border: none;
    border-bottom: #00a6a0 dashed 1px;
    background-color: transparent;
    color: #ffffff;
}

.greey {
    color: rgb(83, 83, 83);
}




.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}




.cc-selector-2 input:active+.drinkcard-cc,
.cc-selector input:active+.drinkcard-cc {
    opacity: .9;
}

.cc-selector-2 input:checked+.drinkcard-cc,
.cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.95);
    -moz-filter: brightness(1.2) grayscale(.2) opacity(.95);
    filter: brightness(1.2) grayscale(.2) opacity(.95);
}


.submitButton {
    background-color: #00a6a0;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
	width:100%;
	height: 80px;
	display:flex;
	justify-content: center;
align-items: center;
}

.submitButtonRed {
    background-color: #f04e37;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
	width:100%;
	height: 80px;
	display:flex;
	justify-content: center;
align-items: center;
}

.submitButton:hover {
    background-color: #008abf;
	text-decoration: none;
	color: white;
}
